/* Estilos Gerais */

body {
	font-family: "Raleway", sans-serif
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 22px;
}

img {	
    max-width: 100%;
    display: block;
}

li {
    list-style: none;
    display: inline-block;
}

.button{
    padding: 12px 20px;
    font-size: 13px;
    letter-spacing: 0.25px;
    border-radius: 40px;
    background-color: #1365ff;
    color: #f7f7f7; 

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.button:hover{
    
    background-color: #3B566E;
    color: #f7f7f7; 
}
/* header */

.header-container{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    border-radius: 40px;
    z-index: 90;    
}
.logo{
    width: 90px;
    margin-left: 30px;
}
.nav-menu{
   text-align: right;
   margin-top: 32px;   
}
.nav-menu li a {    
    color: #1e1e1e; 
    font-size: 13px; 
    letter-spacing: 1px;
    margin-right:25px;

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.nav-menu li a:hover {    
    color: #1365ff; 
    
}

.header-container .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    right: 40px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    display: none;
}

.header-container .menu-trigger span,
.header-container .menu-trigger span:before,
.header-container .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0; 
}

.header-container .menu-trigger span:before,
.header-container .menu-trigger span:after {  
  width: 75%;
  content: "";
}
.header-container .menu-trigger span {
    top: 18px;
}
.header-container .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-container .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-container .menu-trigger.active span,
.header-container .menu-trigger.active span:before,
.header-container .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-container .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #3B566E;
}

.header-container .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #3B566E;
}

/* WELLCOME  */
#wellcome{
    background: url('../img/home-background.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.smooth{
    background-color: rgba(87, 176, 248, 0.705);
}
.wellcome{    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.wellcome h1{
    letter-spacing: .1em; 
    font-size: calc(30px + 1.4vw);  
    margin-bottom: 20px; 
}

.wellcome h2{
    font-size: 18px;
    padding-bottom: 10px;
}

.wellcome p {
    padding: 20px 50px;
    text-align: center;
    margin-bottom: 20px;
}

.wellcome a{
    background-color: #3B566E;
}
.wellcome a:hover{
    background-color: #1365ff; 
}
#wellcome svg{
    margin-top: -20vh;
    margin-bottom: -10px;    
}


/* HOME FEATURE  */

.home-feature{
   margin-top: -120px;
   margin-bottom: 40px;  
}

.card{
    background-color: #f7f7f7;
    height: 300px;
       
    border-radius: 40px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.212);
}

.icon{    
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
    border-radius: 200px;

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.icon i{
    color: #3B566E;

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/* centering svg icons */
.icon .fa-chess-knight{
    margin: 0 0 5px 5px;
}
.icon .fa-heart{
    margin: 5px 0 0 1px; 
}
/* end centering */

.card:hover .icon{
    background-color: #f7f7f7;
}
.card:hover .icon i{
    color: #1365ff;
}

.card h3{
    letter-spacing: .1em;    
}
.card p{
    color: #888;
}

/* RECENTLY WORKS  */

.work{
    height: 50vh;      
}

.work>div{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.work-desc h3{
    letter-spacing: .1em;
    font-size: 22px;    
    line-height: 32px;
    margin-bottom: 20px;
    
}

.work-desc p{    
    color: #888;
    padding: 0 40px 20px 40px;
}

.container-img{    
    padding: 50px;
}

/* WORK FLOW  */

#work-flow{    
    background-color: #3B566E;
}

.work-flow{    
    text-align: center;
    padding: 40px 0;
}
    
.work-flow h4{
    font-size: 28px;
    letter-spacing: .1em;
    margin-bottom: 20px;
    color: #f7f7f7;
}
.work-flow>p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #f7f7f7;
}

.flow{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
}

.flow-card{  
    height: 220px;
    padding: 10px 5px;
    background-color: #f7f7f7;
    border-radius: 40px;  

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    box-shadow: 10px 10px 0 0 rgba(247, 247, 247, 0.226);
}

.flow-card:hover{  
    transform: translatey(-20px);    
}

.flow-card i{
    margin-bottom: 20px;
    color: #3B566E;
} 
.flow-card h5{
    margin-bottom: 20px;
    letter-spacing: .1em;
    font-weight: bold;
    color: #3B566E
}
.flow-card p{
    margin-bottom: 20px;
    color: #888;
}